In [2]:
import pandas as pd 
import numpy as np 
data = pd.read_csv('mercedesbenz.csv',usecols = ['X1','X2','X3','X4','X5','X6'])

In [3]:
for cols in data.columns:
    print(cols,':',len(data[cols].unique()),"Lables")

X1 : 27 Lables
X2 : 44 Lables
X3 : 7 Lables
X4 : 4 Lables
X5 : 29 Lables
X6 : 12 Lables

ONE HOT ENCODING

In [4]:
pd.get_dummies(data,drop_first=True).shape

(4209, 117)

In [5]:
data.X2.value_counts().sort_values(ascending=False).head(20)

as    1659
ae     496
ai     415
m      367
ak     265
r      153
n      137
s       94
f       87
e       81
aq      63
ay      54
a       47
t       29
i       25
k       25
b       21
ao      20
z       19
ag      19
Name: X2, dtype: int64

In [6]:
top_10 = [x for x in data.X2.value_counts().sort_values(ascending=False).head(10).index]

In [7]:
top_10

['as', 'ae', 'ai', 'm', 'ak', 'r', 'n', 's', 'f', 'e']

In [8]:
for label in top_10:
    data[label] = np.where(data['X2']==label,1,0)
data[['X2']+top_10].head(40)

    X2  as  ae  ai  m  ak  r  n  s  f  e
0   at   0   0   0  0   0  0  0  0  0  0
1   av   0   0   0  0   0  0  0  0  0  0
2    n   0   0   0  0   0  0  1  0  0  0
3    n   0   0   0  0   0  0  1  0  0  0
4    n   0   0   0  0   0  0  1  0  0  0
5    e   0   0   0  0   0  0  0  0  0  1
6    e   0   0   0  0   0  0  0  0  0  1
7   as   1   0   0  0   0  0  0  0  0  0
8   as   1   0   0  0   0  0  0  0  0  0
9   aq   0   0   0  0   0  0  0  0  0  0
10   r   0   0   0  0   0  1  0  0  0  0
11   e   0   0   0  0   0  0  0  0  0  1
12  ai   0   0   1  0   0  0  0  0  0  0
13   e   0   0   0  0   0  0  0  0  0  1
14  as   1   0   0  0   0  0  0  0  0  0
15  ak   0   0   0  0   1  0  0  0  0  0
16   e   0   0   0  0   0  0  0  0  0  1
17  as   1   0   0  0   0  0  0  0  0  0
18   m   0   0   0  1   0  0  0  0  0  0
19  ak   0   0   0  0   1  0  0  0  0  0
20   m   0   0   0  1   0  0  0  0  0  0
21  as   1   0   0  0   0  0  0  0  0  0
22   a   0   0   0  0   0  0  0  0  0  0
23   m   0   0   0  1   0  0  0  0  0  0
24  ak   0   0   0  0   1  0  0  0  0  0
25   m   0   0   0  1   0  0  0  0  0  0
26  as   1   0   0  0   0  0  0  0  0  0
27  as   1   0   0  0   0  0  0  0  0  0
28  as   1   0   0  0   0  0  0  0  0  0
29   m   0   0   0  1   0  0  0  0  0  0
30  as   1   0   0  0   0  0  0  0  0  0
31  as   1   0   0  0   0  0  0  0  0  0
32   m   0   0   0  1   0  0  0  0  0  0
33  as   1   0   0  0   0  0  0  0  0  0
34  as   1   0   0  0   0  0  0  0  0  0
35  ai   0   0   1  0   0  0  0  0  0  0
36  as   1   0   0  0   0  0  0  0  0  0
37   k   0   0   0  0   0  0  0  0  0  0
38  as   1   0   0  0   0  0  0  0  0  0
39  as   1   0   0  0   0  0  0  0  0  0

In [9]:
def one_hot_top_10(df,variable,top_x_labels):
    for label in top_x_labels:
         df[variable+'_'+label] = np.where(df[variable]==label,1,0)

In [10]:
one_hot_top_10(data,'X2',top_10)

In [11]:
data.head()

,X1,X2,X3,X4,X5,X6,as,ae,ai,m,...,X2_as,X2_ae,X2_ai,X2_m,X2_ak,X2_r,X2_n,X2_s,X2_f,X2_e
0,v,at,a,d,u,j,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,t,av,e,d,y,l,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,w,n,c,d,x,j,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,t,n,f,d,x,l,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,v,n,f,d,h,d,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [12]:
def top_10(df,variable):
    return [x for x in df[variable].value_counts().sort_values(ascending=False).head(10).index]

In [13]:
one_hot_top_10(data,'X1',top_10(data,'X1'))

In [14]:
one_hot_top_10(data,'X3',top_10(data,'X3'))
one_hot_top_10(data,'X4',top_10(data,'X4'))
one_hot_top_10(data,'X5',top_10(data,'X5'))
one_hot_top_10(data,'X6',top_10(data,'X6'))

In [15]:
data.head()

,X1,X2,X3,X4,X5,X6,as,ae,ai,m,...,X6_g,X6_j,X6_d,X6_i,X6_l,X6_a,X6_h,X6_k,X6_c,X6_b
0,v,at,a,d,u,j,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,t,av,e,d,y,l,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,w,n,c,d,x,j,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,t,n,f,d,x,l,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,v,n,f,d,h,d,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

COUNT or FREQUENCY ENCODING

In [16]:
df = pd.read_csv("mercedesbenz.csv",usecols=['X1','X2'])

In [17]:
df.head()

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n

In [18]:
len(df['X1'].unique())

27

In [19]:
len(df['X2'].unique())

44

In [20]:
df_frequency_map = df.X2.value_counts().to_dict()

In [21]:
df.X2 = df.X2.map(df_frequency_map)

In [22]:
df.head()

  X1   X2
0  v    6
1  t    4
2  w  137
3  t  137
4  v  137

In [23]:
df.X1 = df.X1.map(df.X1.value_counts().to_dict())

In [24]:
df.head()

    X1   X2
0  408    6
1   31    4
2   52  137
3   31  137
4  408  137

LABEL ENCODING OR ORDINAL NUMBERING ENCODING

In [25]:
import datetime

In [26]:
df_base = datetime.datetime.today()
df_date_list = [df_base - datetime.timedelta(days=x) for x in range(0,100000)]
df = pd.DataFrame(df_date_list)
df.columns = ['day']
df.head()

                         day
0 2021-02-09 21:10:32.129658
1 2021-02-08 21:10:32.129658
2 2021-02-07 21:10:32.129658
3 2021-02-06 21:10:32.129658
4 2021-02-05 21:10:32.129658

In [27]:
df['day_of_week'] = df['day'].dt.day_name()

In [28]:
df.head()

                         day day_of_week
0 2021-02-09 21:10:32.129658     Tuesday
1 2021-02-08 21:10:32.129658      Monday
2 2021-02-07 21:10:32.129658      Sunday
3 2021-02-06 21:10:32.129658    Saturday
4 2021-02-05 21:10:32.129658      Friday

In [29]:
weekday_map = {'Monday':1,
               'Tuesday':2,
               'Wednesday':3,
               'Thursday':4,
               'Friday':5,
               'Saturday':6,
               'Sunday':7
               }

In [30]:
df['day_ordinal'] = df['day_of_week'].map(weekday_map)
df.head()

                         day day_of_week  day_ordinal
0 2021-02-09 21:10:32.129658     Tuesday            2
1 2021-02-08 21:10:32.129658      Monday            1
2 2021-02-07 21:10:32.129658      Sunday            7
3 2021-02-06 21:10:32.129658    Saturday            6
4 2021-02-05 21:10:32.129658      Friday            5

In [31]:
df.to_csv("days.csv",index=False)